<!DOCTYPE html>
<html lang="ko" class="theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=3.0" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/expectation-cloud/restoration.expectation.cloud/assets/css/app.css">
    <title>Zita Restore</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/X2gz8W2.png">
</head>

<body>
    <div id="app-mount" class="appMount-2yBXZl">
        <div class="wrapper-1f5byN">
            <div style="opacity: 1;">
                <section class="authBox-1HR6Ha theme-dark">
                    <div class="discordLogo-2A4X97"></div>
                    <div class="centeringWrapper-dGnJPQ">
                        <img alt="" src="https://i.imgur.com/bBsWj5S.png" class="image-2NDoLx marginBottom8-emkd0_">
                        <h1 class="heading-xl-semibold-3E1dYv defaultColor-1GKx81 title-3FQ39e marginTop8-24uXGp marginBottom8-emkd0_" style="color: var(--header-primary);">{{title}}</h1>
                        <div class="text-md-normal-2rFCH3" style="color: var(--header-secondary);">{{ERROR_MSG}}</div>
                        <button type="button" class="marginTop40-Q4o1tS button-1cRKG6 button-ejjZWC lookFilled-1H2Jvj colorBrand-2M3O3N sizeLarge-2xP3-w fullWidth-3M-YBR grow-2T4nbg">
              <div class="contents-3NembX" onclick="location.href ='https://discord.gg/zita'">고객센터 연락하기</div>
            </button>

                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>