<!DOCTYPE html>
<html lang="ko" class="theme-dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=3.0" name="viewport">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/expectation-cloud/restoration.expectation.cloud/assets/css/app.css">
  <title>Zita Restore</title>
  <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/1317512746702733362/1322530302282956852/17.png?ex=67996b93&is=67981a13&hm=8d47a02d4943f4088678439522b2ce960c06b09679ef653624135cf0b6eb7318&">
</head>

<body>
  <div id="app-mount" class="appMount-2yBXZl">
    <div class="appAsidePanelWrapper-ev4hlp">
      <div class="notAppAsidePanel-3yzkgB">
        <div class="app-3xd6d0">
          <div class="theme-dark wave-prk3iX wrapper-25sY58 scrollbarGhost-dCZKgZ scrollbar-3vVt8d">
            <div class="fallbackImage-kwjEnv"></div>
            <div class="leftSplit-hm3715 nonEmbeddedLeftSplit-1DjcEq">
              <div class="oauth2Wrapper-p_8bbd">
                <div class="wrapper-3xpz8m">

                  <div class="header-1Qp_Ej headerSuccess-3n55Ht"></div>
                  <div class="defaultColor-1EVLSt text-md-normal-2rFCH3 text-1yBazx">{{title}}</div>
                  <div class="text-xs-normal-3O7EaX" style="color: var(--text-muted);">{{SUCCESSFUL_MSG}}</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>